NODE_ENV=development
COOKIE_DOMAIN=localhost
API_URL=localhost:3000/api/v1
CLIENT_APP_URL=http://localhost:3001

# ==== JWT ====
JWT_SECRET=your_jwt_secret_here
JWT_ACCESS_TOKEN_TTL=2h
JWT_REFRESH_TOKEN_TTL=7d

# ==== POSTGRES / DB ====
POSTGRES_USER=root
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

DATABASE_URL=postgresql://root:changeme@localhost:5433/finance-tracker?schema=public

# ==== BREVO / Mail ====
BREVO_API=your_brevo_api_key_here
BREVO_SENDER_EMAIL=your_sender_email@example.com
BREVO_SENDER_NAME=Finance tracker